/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-70e7812986066ee46af0.json
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c2f61088404b5f991c8c.json
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-10T12-12-01-0366.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_deps
/cmake-build-debug
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/space_explorer.dir/space_solution.c.obj
cmake-build-debug/space_explorer.exe
cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug
